@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
  scroll-behavior: smooth;
}

:root{
  --theme: rgb(0, 183, 255);
  --textColor: rgba(255, 255, 255, 0.866);
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

input,
textarea,
button,
select,
a,
div,
i {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.selection-none {
  user-select: none;
  /* standard syntax */
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}

.AppBody {
  background-color: #0c0c0c;
}

.progress-bar {
  height: .2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 201;

  background-color: var(--theme);
  /* border-bottom: .5px solid white; */
  /* background-image: linear-gradient(315deg, #55efc4 0%, #9e9e9e 94%); */
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}